# dependencies - public (frontend)
/public/node_modules
/public/.gitignore

# dependencies - server (backend)
/server/node_modules

#dockerization
/public/DockerFile
/server/DockerFile
/docker-compose.yml